ENVIRONMENT=development

MYSQL_USER=mysql
MYSQL_PASSWORD=mysql
MYSQL_ROOT_PASSWORD=mysql
MYSQL_HOST=mysql

MYSQL_DATABASE=eric_day_one
MYSQL_TEST_DATABASE=eric_day_one_test
BRUS_SERVER_URL=http://brus:8500
PUBSUB_SERVER_URL=http://pubsub:8000
BRUS_AUTH_TOKEN=168b184cfabb2306c09be3cd0d5325f4188ded9b
